<h1 class="page-title">Blog Posts</h1>
<div class="row">
	<div class="col-xs-12 col-md-4 col-lg-4">
    <h2 class="post-header">Post #1</h2>
    <%= image_tag("https://cdn.pixabay.com/photo/2017/02/26/09/45/beatenberg-2099827_1280.jpg", height: '300', width: '300', class: "post-image") %>
  </div>
  <!-- col -->
  <div class="col-xs-12 col-md-8 col-lg-8">
    <p class="post-paragraph">Lorem ipsum dolor sit amet, paulo aperiri nec ad, ad elit reque suscipiantur mel, eu congue intellegat conclusionemque has. Cibo inciderint te usu, eum dissentiet referrentur no. Inani corpora eum at. Salutatus sadipscing usu ea, vel ex quod nulla concludaturque, vel ubique nominavi quaestio in. Eos persius omittantur at, duo ex velit mazim accumsan.</p>
  </div>
  <!-- /col -->
</div>
<!-- row -->

<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-4">
    <h2 class="post-header">Post #2</h2>
    <%= image_tag("https://cdn.pixabay.com/photo/2017/02/26/09/45/beatenberg-2099827_1280.jpg", height: '300', width: '300', class: "post-image") %>
  </div>
  <!-- col -->
  <div class="col-xs-12 col-md-8 col-lg-8">
    <p class="post-paragraph">Lorem ipsum dolor sit amet, paulo aperiri nec ad, ad elit reque suscipiantur mel, eu congue intellegat conclusionemque has. Cibo inciderint te usu, eum dissentiet referrentur no. Inani corpora eum at. Salutatus sadipscing usu ea, vel ex quod nulla concludaturque, vel ubique nominavi quaestio in. Eos persius omittantur at, duo ex velit mazim accumsan.</p>
  </div>
  <!-- /col -->
</div>
<!-- row -->

<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-4">
    <h2 class="post-header">Post #3</h2>
    <%= image_tag("https://cdn.pixabay.com/photo/2017/02/26/09/45/beatenberg-2099827_1280.jpg", height: '300', width: '300', class: "post-image") %>
  </div>
  <!-- col -->
  <div class="col-xs-12 col-md-8 col-lg-8">
    <p class="post-paragraph">Lorem ipsum dolor sit amet, paulo aperiri nec ad, ad elit reque suscipiantur mel, eu congue intellegat conclusionemque has. Cibo inciderint te usu, eum dissentiet referrentur no. Inani corpora eum at. Salutatus sadipscing usu ea, vel ex quod nulla concludaturque, vel ubique nominavi quaestio in. Eos persius omittantur at, duo ex velit mazim accumsan.</p>
  </div>
  <!-- /col -->
</div>
<!-- /row -->

<div class="row">
	<div class="col-xs-12 col-md-4 col-lg-4">
    <h2 class="post-header">Post #4</h2>
    <%= image_tag("https://cdn.pixabay.com/photo/2017/02/26/09/45/beatenberg-2099827_1280.jpg", height: '300', width: '300', class: "post-image") %>
  </div>
  <!-- col -->
  <div class="col-xs-12 col-md-8 col-lg-8">
    <p class="post-paragraph">Lorem ipsum dolor sit amet, paulo aperiri nec ad, ad elit reque suscipiantur mel, eu congue intellegat conclusionemque has. Cibo inciderint te usu, eum dissentiet referrentur no. Inani corpora eum at. Salutatus sadipscing usu ea, vel ex quod nulla concludaturque, vel ubique nominavi quaestio in. Eos persius omittantur at, duo ex velit mazim accumsan.</p>
  </div>
  <!-- /col -->
</div>
<!-- row -->

<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-4">
    <h2 class="post-header">Post #5</h2>
    <%= image_tag("https://cdn.pixabay.com/photo/2017/02/26/09/45/beatenberg-2099827_1280.jpg", height: '300', width: '300', class: "post-image") %>
  </div>
  <!-- col -->
  <div class="col-xs-12 col-md-8 col-lg-8">
    <p class="post-paragraph">Lorem ipsum dolor sit amet, paulo aperiri nec ad, ad elit reque suscipiantur mel, eu congue intellegat conclusionemque has. Cibo inciderint te usu, eum dissentiet referrentur no. Inani corpora eum at. Salutatus sadipscing usu ea, vel ex quod nulla concludaturque, vel ubique nominavi quaestio in. Eos persius omittantur at, duo ex velit mazim accumsan.</p>
  </div>
  <!-- /col -->
</div>
<!-- row -->

<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-4">
    <h2 class="post-header">Post #6</h2>
    <%= image_tag("https://cdn.pixabay.com/photo/2017/02/26/09/45/beatenberg-2099827_1280.jpg", height: '300', width: '300', class: "post-image") %>
  </div>
  <!-- col -->
  <div class="col-xs-12 col-md-8 col-lg-8">
    <p class="post-paragraph">Lorem ipsum dolor sit amet, paulo aperiri nec ad, ad elit reque suscipiantur mel, eu congue intellegat conclusionemque has. Cibo inciderint te usu, eum dissentiet referrentur no. Inani corpora eum at. Salutatus sadipscing usu ea, vel ex quod nulla concludaturque, vel ubique nominavi quaestio in. Eos persius omittantur at, duo ex velit mazim accumsan.</p>
  </div>
  <!-- /col -->
</div>
<!-- /row -->

