<h1 class="page-title">Blog Posts</h1>
<div class="row">
	<div class="col-xs-12 col-md-12 col-lg-12">
    <h2>Post #1</h2>
    <%= image_tag("https://cdn.pixabay.com/photo/2012/06/23/09/08/field-of-poppies-50588_1280.jpg", height: '300', width: '300', class: "cake-types") %>
  </div>
  <!-- /col -->
  <div class="col-xs-12 col-md-12 col-lg-12">
    <h2>Post #2</h2>
    <%= image_tag("https://cdn.pixabay.com/photo/2012/06/23/09/08/field-of-poppies-50588_1280.jpg", height: '300', width: '300', class: "cake-types") %>
  </div>
  <!-- /col -->
  <div class="col-xs-12 col-md-12 col-lg-12">
    <h2>Post #3</h2>
    <%= image_tag("https://cdn.pixabay.com/photo/2012/06/23/09/08/field-of-poppies-50588_1280.jpg", height: '300', width: '300', class: "cake-types") %>
  </div>
  <!-- /col -->
</div>
<!-- /row -->
<div class="row">
	<div class="col-xs-12 col-md-12 col-lg-12">
    <h2>Post #4</h2>
    <%= image_tag("https://cdn.pixabay.com/photo/2012/06/23/09/08/field-of-poppies-50588_1280.jpg", height: '300', width: '300', class: "cake-types") %>
  </div>
  <!-- /col -->
  <div class="col-xs-12 col-md-12 col-lg-12">
    <h2>Post #5</h2>
    <%= image_tag("https://cdn.pixabay.com/photo/2012/06/23/09/08/field-of-poppies-50588_1280.jpg", height: '300', width: '300', class: "cake-types") %>
  </div>
  <!-- /col -->
  <div class="col-xs-12 col-md-12 col-lg-12">
    <h2>Post #6</h2>
    <%= image_tag("https://cdn.pixabay.com/photo/2012/06/23/09/08/field-of-poppies-50588_1280.jpg", height: '300', width: '300', class: "cake-types") %>
  </div>
  <!-- /col -->
</div>
<!-- /row -->

